body{
    height: 1000px;
    background-image: linear-gradient(
        135deg, 
        #ff5733 0%, 
        #33ff57 50%, 
        #3357ff 100%
    );

}
#canvas1{
    position: absolute;
    width: 600px;
    height: 400px;
}
#cv{
    text-align: center;
    font-size: 60px;
}
.name{
    text-align: center;
    font-size: 26px;
    color: hsla(0, 70%, 55%, 1.0);
}
.content1{
    max-width: 40%;
    border: 1px solid black;
    color: brown;
    font-family: monospace;
    font-size: 20px;
    padding: 1em;
    margin-bottom: 1em;
}
.content2{
    max-width: 40%;
    border: 1px solid black;
    color: blue;
    border-radius: 15px;
    /* text-indent: 1em; */
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}